
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DIN Next Arabic";
  src: url("/fonts/DIN Next Arabic Light.otf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "DIN Next Arabic";
  src: url("/fonts/DIN Next Arabic Regular.otf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "DIN Next Arabic";
  src: url("/fonts/DIN Next Arabic Medium.otf") format("truetype");
  font-weight: 700;
}


body {
  font-family: "DIN Next Arabic";
  padding: 0;
  margin: 0;
  }
